
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>提现详情</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
</head>
<body class="bgcolor">
    <div class="form">
        <div class="form-group2">
            <div class="form-label">可提现分红金额</div>
            <div class="form-input"><input type="text" name="" readonly id="" value="1231231.23" /></div>
        </div>
        <div class="form-group2">
            <div class="form-label">最低提现金额</div>
            <div class="form-input"><input type="text" name="" readonly id="" value="1231231.23" /></div>
        </div>
        <div class="form-group2">
            <div class="form-label">可提现时间</div>
            <div class="form-input"><input type="text" name="" readonly id="" value="2018/12/08" /></div>
        </div>
        <div class="form-lg">
            <span>￥</span>
            <input type="text" name="" id="" value="" placeholder="输入提现金额" />
        </div>
    </div>
    <div class="form">
        <div class="form-group2">
            <div class="form-label">姓名</div>
            <div class="form-input"><input type="text" name="" readonly id="" value="徐树" /></div>
        </div>
        <div class="form-group2">
            <div class="form-label">性别</div>
            <div class="form-input">
                <div class="form-input"><input type="text" name="" readonly id="" value="女" /></div>
            </div>
        </div>
        <div class="form-group2">
            <div class="form-label">身份证号</div>
            <div class="form-input"><input type="text" name="" id="" readonly value="348776655948576854" /></div>
        </div>
        <div class="form-group2">
            <div class="form-label">手机号</div>
            <div class="form-input"><input type="text" name=""  readonly id="" value="18806059333" /></div>
        </div>
        <div class="form-group2">
            <div class="form-label">联系电话</div> 
            <div class="form-input"><input type="text" name=""  readonly id="" value="18830853459" /></div>
        </div>
        <div class="form-group2">
            <div class="form-label">提现银行卡账号</div>
            <div class="form-input"><input type="text" name=""  readonly id="" value="44545 3453 4534 543" /></div>
        </div>
    </div>
    <div class="form-btn">
        <a href="#">提交</a>
    </div>
    <script src="~/js/jquery-1.10.2.min.js"></script>
</body>
</html>
