<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>提现</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
</head>
<body class="bgcolor">
    <div class="tbwh">
        <p>昨天分红</p>
        <div class="clear">
            <h1 class="fl">165.34</h1>
            <a href="#" class="tbwh-btn fr">立即提现</a>
        </div>
        <p>累计分红 123.33元&nbsp;&nbsp;已提现分红：123.33元</p>
    </div>
    <div class="wbwh-list">
        <ul>
            <li class="wbwh-list-li">
                <div class="clear">
                    <div class="fl wbwh-list-name">提现分红</div>
                    <div class="fr text-blue">正在处理</div>
                </div>
                <div class="clear">
                    <div class="fl text-yellow">+100.34元</div>
                    <div class="fr text-lightgrey time">2017-11-28 07:53</div>
                </div>
            </li>
            <li class="wbwh-list-li">
                <div class="clear">
                    <div class="fl wbwh-list-name">提现分红</div>
                    <div class="fr text-green">提现成功</div>
                </div>
                <div class="clear">
                    <div class="fl text-yellow">+100.34元</div>
                    <div class="fr text-lightgrey time">2017-11-28 07:53</div>
                </div>
            </li>
            <li class="wbwh-list-li">
                <div class="clear">
                    <div class="fl wbwh-list-name">提现分红</div>
                    <div class="fr text-red">正在处理</div>
                </div>
                <div class="clear">
                    <div class="fl text-yellow">+100.34元</div>
                    <div class="fr text-lightgrey time">2017-11-28 07:53</div>
                </div>
            </li>
        </ul>
    </div>
    <script src="~/js/jquery-1.10.2.min.js"></script>
</body>
</html>
