@model SDMS.DTO.DTO.JournalTypeDTO[]
@{
    ViewBag.Title = "分和流水统计列表";
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
}
分红总金额:<label id="totalAmount"></label>
        姓名：<input id="cname" class="input_select" type="text" />
        手机号：<input id="cmobile" class="input_select" type="text" />
        分红类型：
        <select id="bonusTypeId">
            <option value="0">-请选择-</option>
            @foreach (var type in Model)
            {
                <option value="@type.Id">@type.Description</option>
            }
        </select>
        年： <input tip="" class="input_select" type="text" onfocus="WdatePicker({dateFmt:'yyyy'})" id="year" />月
        <input tip="" class="input_select" type="text" onfocus="WdatePicker({dateFmt:'MM'})" id="month" />
        <a class="easyui-linkbutton" iconcls="icon-search" id="csearch">查询</a>
<br />
<div style="margin-bottom:20px">
    <fieldset class="fieldset">
        姓名：<input id="name" class="input_select" type="text" />
        手机号：<input id="mobile" class="input_select" type="text" />
        分红类型：
        <select id="journalTypeId">
            <option value="0">-请选择-</option>
            @foreach (var type in Model)
            {
                <option value="@type.Id">@type.Description</option>
            }
        </select>
        注册日期： <input tip="输入注册日期" class="input_select" type="text" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" id="startTime" />至
        <input tip="输入注册日期" class="input_select" type="text" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" id="endTime" />
        <a class="easyui-linkbutton" iconcls="icon-search" id="search">查询</a>
    </fieldset>
</div>
<div id="load">
    @{
        Html.RenderAction("BonusJournalGetPage");
    }
</div>
@section FooterScript
{
    <script src="/js/admin/jquery.easyui.min.js"></script>
    <script src="/js/admin/jquery.parser.js"></script>
    <script type="text/javascript">

        $.ajax({
            url: "/admin/takebonus/search", type: "post", data: {},
            success: function (result) {
                if (result.status == "1") {
                    $("#totalAmount").text(result.data);
                }
            },
            error: function () { alert("网络错误"); }
        });

        function getPage(pageIndex) {
            var name = $("#name").val();
            var mobile = $("#mobile").val();
            var journalTypeId = $("#journalTypeId").val();
            var startTime = $("#startTime").val();
            var endTime = $("#endTime").val();
            $("#load").load("/admin/takebonus/BonusJournalGetPage", { pageIndex: pageIndex, name: name, mobile: mobile, journalTypeId: journalTypeId, startTime: startTime, endTime: endTime }, function () {
                $.parser.parse($('#load'));
            });
        }

        $(function () {
            $('body').on('click', '#go', function () {
                var page = $("#txtPage").val();
                getPage(page);
            });

            $("#search").click(function () {
                $("#load").empty();
                var page = $("#txtPage").val();
                getPage(page);
            });
        });
    </script>
}
