@model SDMS.DTO.DTO.SetShareBonusDTO
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>分红设置</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <style type="text/css">
    </style>
</head>
<body>
    <div>
        <div class="form-group" style="margin-top:50px">
            <div class="form-horizontal col-md-12">
                <label class="col-sm-4 control-label">
                    
                </label>
                <label class="col-sm-2 control-label">
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="form-horizontal col-md-12">
                <label class="col-sm-3 control-label">
                    <span class="text-danger">*</span>
                    平均分红发放金额：
                </label>
                <div class="col-sm-2">
                    <input type="text" id="amount" class="form-control" />
                </div>
                <div class="col-sm-2">
                    <input type="button" id="btnSave" class="form-control" value="确定" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-horizontal col-md-12">
                <label class="col-sm-2 control-label">
                </label>
                <label class="col-sm-2 control-label">
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="form-horizontal col-md-12">
                <label class="col-sm-3 control-label">
                    <span class="text-danger">*</span>
                    定向分红状态：@(Model.Flag ? "已启动" : "已暂停")
                </label>
                <div class="col-sm-4">
                    <input type="hidden" id="flag" value="@(Model.Flag?"true":"false")" />
                    <input type="button" id="btnSet" class="form-control" value="" />
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        if ($("#flag").val() == "true") {
            $("#btnSet").val("暂停");
        } else {
            $("#btnSet").val("启动");
        }
        
        $(function () {

            $("#btnSave").click(function () {
                var amount = $("#amount").val();
                $.ajax({
                    url: "/admin/takebonus/issue", type: "post",
                    data: { amount: amount },
                    success: function (result) {
                        if (result.status == "1") {
                            alert("平均分红发放成功");
                        }
                        else if (result.status == "0") {
                            alert(result.msg);
                        }
                        else {
                            alert("未知错误");
                        }
                    },
                    error: function () { alert("网络错误"); }
                });
            });
            $("#btnSet").click(function () {
                var flag;
                if ($("#flag").val() == "true") {
                    flag = "false";
                } else {
                    flag = "true";
                }
                
                $.ajax({
                    url: "/admin/takebonus/setflag", type: "post",
                    data: { flag: flag },
                    success: function (result) {
                        if (result.status == "1") {
                            alert(result.msg);
                            window.location.href = result.data;
                        }
                        else if (result.status == "0") {
                            alert(result.msg);
                        }
                        else {
                            alert("未知错误");
                        }
                    },
                    error: function () { alert("网络错误"); }
                });
            });
        });
    </script>
</body>
</html>