@model SDMS.DTO.DTO.SetShareBonusDTO
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>分红设置</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <style type="text/css">
    </style>
</head>
<body>
    <div>     
        <div class="form-group" style="margin-top:50px">
            <div class="form-horizontal col-md-12">
                <label class="col-sm-2 control-label">
                </label>
                <label class="col-sm-2 control-label">
                </label>                 
            </div>
        </div>   
        <div class="form-group">
            <div class="form-horizontal col-md-12">
                <label class="col-sm-2 control-label">
                   当前定向分红比例：@Model.Rate
                </label>
                <div class="col-sm-2">
                    <input type="text" id="rate" class="form-control" />
                </div>
                <div class="col-sm-2">
                    <input type="button" id="btnSet" class="form-control" value="设置定向分红比例" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-horizontal col-md-12">
                <label class="col-sm-2 control-label">
                </label>
                <label class="col-sm-2 control-label">
                </label>
            </div>
        </div> 
    </div>
    <script src="~/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#btnSet").click(function () {
                var rate = $("#rate").val();
                $.ajax({
                    url: "/admin/takebonus/setup", type: "post",
                    data: { rate: rate },
                    success: function (result) {
                        if (result.status == "1") {
                            alert("设置定向分红比例成功,第二天生效");
                            window.location.href = result.data;
                        }
                        else if (result.status == "0") {
                            alert(result.msg);
                        }
                        else {
                            alert("未知错误");
                        }
                    },
                    error: function () { alert("网络错误"); }
                });
            });            
        });
    </script>
</body>
</html>