@model SDMS.DTO.DTO.PermissionDTO[]
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>添加角色</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <style type="text/css">
    </style>
</head>
<body>
    <div>
        <div class="form-group fast">
            <div class="form-horizontal col-md-12">
                <label class="col-sm-2 control-label">
                    <span class="text-danger">*</span>
                    角色名：
                </label>
                <div class="col-sm-4">
                    <input type="text" id="name" class="form-control" />
                </div>
            </div>
        </div>
        <div class="form-group fast">
            <div class="form-horizontal col-md-12">
                <label class="col-sm-2 control-label">
                    <span class="text-danger">*</span>
                    描述：
                </label>
                <div class="col-sm-4">
                    <input type="text" id="description" class="form-control" />
                </div>
            </div>
        </div>
        <div class="form-group fast">
            <div class="form-horizontal col-md-12">
                <label class="col-sm-2 control-label">
                    <span class="text-danger">*</span>
                    权限：
                </label>
                <div class="col-sm-4">
                    <table>
                        @foreach (var perm in Model)
                        {
                            <tr>
                                <td><input type="checkbox" value="@perm.Id" class="perm" /></td>
                                <td>@perm.Name</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
        <div class="form-group fast">
            <div class="form-horizontal col-md-12">
                <label class="col-sm-2 control-label">
                </label>
                <div class="col-sm-2">
                    <input type="button" id="btnSave" class="form-control" value="提交" />
                </div>
                <div class="col-sm-2">
                    <input type="button" onclick="javascript:history.back(-1);" class="form-control" value="返回" />
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#btnSave").click(function () {
                var permIds = new Array();
                var name = $("#name").val();
                var description = $("#description").val();
                $(".perm").each(function () {
                    if ($(this).is(":checked")) {
                        permIds.push($(this).val());
                    }
                });
                $.ajax({
                    url: "/admin/system/roleadd", type: "post",
                    data: { name: name, description: description, permIds: permIds },
                    success: function (result) {
                        if (result.status == "1") {
                            alert("角色添加成功");
                            window.location.href = result.data;
                        }
                        else if (result.status == "0") {
                            alert(result.msg);
                        }
                        else {
                            alert("未知错误");
                        }
                    },
                    error: function () { alert("网络错误"); }
                });
            });
        });
    </script>
</body>
</html>