@{
    ViewBag.Title = "提现列表";
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
}
<br />
<div id="load">
    @{
        Html.RenderAction("ApplyGetPage");
    }
</div>
@section FooterScript
{
    <script src="http://localhost:52988/js/admin/jquery.parser.js"></script>
    <script src="http://localhost:52988/js/admin/jquery.easyui.min.js"></script>
    <script type="text/javascript">
        function getPage(pageIndex) {
            $("#load").load("/admin/takecash/ApplyGetPage?pageIndex=" + pageIndex, function () {
                $.parser.parse($('#load'));
            });
        }

        $(function () {
            $('body').on('click', '#go', function () {
                var page = $("#txtPage").val();
                getPage(page);
            });
        });
    </script>
}
