@model SDMS.Web.Models.Home.NewsListViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
</head>
<body>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="/pic/banner01.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="/pic/banner01.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="/pic/banner01.jpg" />
            </div>
        </div>
    </div>
    <div class="index-notice">
        <div class="index-notice-h">
            <span>公告</span>
            @*<a href="#" class="more">更多</a>*@
        </div>
        <div class="index-notice-list">
            <ul>
            @foreach (var news in Model.News)
            {
                <li class="index-notice-li">
                    <a href="/home/details/@news.Id" class="">
                        <div class="index-notice-img">
                            <img src="@news.ImgURL" />
                        </div>
                        <div class="index-notice-tit">@news.Title</div>
                        <div class="index-notice-dec">阅读人数：@news.Click 阅读比例：@news.Rate</div>
                        <span class="index-notice-sx">@news.Preview</span>
                    </a>
                </li>
            }
            </ul>
        </div>
    </div>
    <script src="~/js/jquery-1.10.2.min.js"></script>
    <script src="~/js/swiper.min.js"></script>
    <script type="text/javascript">
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 'auto',
            centeredSlides: true,
            spaceBetween: 15,
        });
    </script>
</body>
</html>
