<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
</head>
<body>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="/pic/banner01.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="/pic/banner01.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="/pic/banner01.jpg" />
            </div>
        </div>
    </div>
    <div class="index-notice">
        <div class="index-notice-h">
            <span>公告</span>
            <a href="#" class="more">更多</a>
        </div>
        <div class="index-notice-list">
            <ul>
                <li class="index-notice-li">
                    <a href="#" class="">
                        <div class="index-notice-img">
                            <img src="/pic/01.jpg" />
                        </div>
                        <div class="index-notice-tit">友爱立交汽车精洗护理店</div>
                        <div class="index-notice-dec">友爱立交汽车精洗护理店友爱立交汽车精洗护理店友爱立交汽车精洗护理店友爱立交汽车精洗护理店</div>
                        <span class="index-notice-sx">内容预览>></span>
                    </a>
                </li>
                <li class="index-notice-li">
                    <a href="#" class="">
                        <div class="index-notice-img">
                            <img src="/pic/01.jpg" />
                        </div>
                        <div class="index-notice-tit">友爱立交汽车精洗护理店</div>
                        <div class="index-notice-dec">友爱立交汽车精洗护理店友爱立交汽车精洗护理店友爱立交汽车精洗护理店友爱立交汽车精洗护理店</div>
                        <span class="index-notice-sx">内容预览>></span>
                    </a>
                </li>
                <li class="index-notice-li">
                    <a href="#" class="">
                        <div class="index-notice-img">
                            <img src="/pic/01.jpg" />
                        </div>
                        <div class="index-notice-tit">友爱立交汽车精洗护理店</div>
                        <div class="index-notice-dec">友爱立交汽车精洗护理店友爱立交汽车精洗护理店友爱立交汽车精洗护理店友爱立交汽车精洗护理店</div>
                        <span class="index-notice-sx">内容预览>></span>
                    </a>
                </li>
                <li class="index-notice-li">
                    <a href="#" class="">
                        <div class="index-notice-img">
                            <img src="/pic/01.jpg" />
                        </div>
                        <div class="index-notice-tit">友爱立交汽车精洗护理店</div>
                        <div class="index-notice-dec">友爱立交汽车精洗护理店友爱立交汽车精洗护理店友爱立交汽车精洗护理店友爱立交汽车精洗护理店</div>
                        <span class="index-notice-sx">内容预览>></span>
                    </a>
                </li>
                <li class="index-notice-li">
                    <a href="#" class="">
                        <div class="index-notice-img">
                            <img src="/pic/01.jpg" />
                        </div>
                        <div class="index-notice-tit">友爱立交汽车精洗护理店</div>
                        <div class="index-notice-dec">友爱立交汽车精洗护理店友爱立交汽车精洗护理店友爱立交汽车精洗护理店友爱立交汽车精洗护理店</div>
                        <span class="index-notice-sx">内容预览>></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <script src="~/js/jquery-1.10.2.min.js"></script>
    <script src="~/js/swiper.min.js"></script>
    <script type="text/javascript">
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 'auto',
            centeredSlides: true,
            spaceBetween: 15,
        });
    </script>
</body>
</html>
