@model long
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>留言</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
</head>
<body class="bgcolor">
    <div class="message">
        <input type="hidden" id="id" value="@Model" />
        <textarea id="contents" rows="100" cols="100" placeholder="请输入留言"></textarea>
        <div class="message-wordnum">
            <b>12</b><span>/200</span>
        </div>
    </div>
    <div class="form-btn">
        <button id="btnRefer">提交</button>
    </div>
    <script src="~/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#btnRefer").click(function () {
                var contents = $("#contents").val();
                var id = $("#id").val();
                $.ajax({
                    url: "/home/message", type: "post", data: { id:id, contents: contents },
                    success: function (result) {
                        if (result.status == "1") {
                            window.location.href = "/";
                        }
                        else if (result.status == "0") {
                            alert(result.msg);
                        }
                        else {
                            alert("未知错误");
                        }
                    },
                    error: function () { alert("网络错误"); }
                });
            });
        });
    </script>
</body>
</html>
