<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>提现</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
</head>
<body class="bgcolor">
    <div class="xgwh">
        <div class="xgwh-txt">
            <p>昨天分红</p>
            <h1>165.34</h1>
            <p>总金额 123.33元</p>
        </div>
        <ul class="xgwh-tc clear">
            <li>
                <span>本金</span>
                <b>8888</b>
            </li>
            <li>
                <span>本金占股比</span>
                <b>8888</b>
            </li>
            <li>
                <span>累计分红</span>
                <b>8888</b>
            </li>
            <li>
                <span>可提现分红</span>
                <b>8888</b>
            </li>
        </ul>
    </div>
    <div class="wbwh-list">
        <ul>
            <li class="wbwh-list-li">
                <div class="clear">
                    <div class="fl wbwh-list-name">获得分红</div>
                    <div class="fr text-mlgrey">平均分红</div>
                </div>
                <div class="clear">
                    <div class="fl text-yellow">+100.34元</div>
                    <div class="fr text-lightgrey time">2017-11-28 07:53</div>
                </div>
            </li>
            <li class="wbwh-list-li">
                <div class="clear">
                    <div class="fl wbwh-list-name">获得分红</div>
                    <div class="fr text-mlgrey">固定分红</div>
                </div>
                <div class="clear">
                    <div class="fl text-yellow">+100.34元</div>
                    <div class="fr text-lightgrey time">2017-11-28 07:53</div>
                </div>
            </li>
        </ul>
    </div>
    <script src="~/js/jquery-1.10.2.min.js"></script>
</body>
</html>
