
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>交易密码设置</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
</head>
<body class="bgcolor">
    <div class="form">
        <div class="form-group2">
            <div class="form-label">姓名</div>
            <div class="form-input">田珂珂</div>
        </div>
        <div class="form-group2">
            <div class="form-label">性别</div>
            <div class="form-input">男</div>
        </div>
        <div class="form-group2">
            <div class="form-label">身份证号</div>
            <div class="form-input">348776655948576854</div>
        </div>
        <div class="form-group2">
            <div class="form-label">手机号</div>
            <div class="form-input">18806059333</div>
        </div>
    </div>
    <div class="form">
        <div class="form-group2">
            <div class="form-label">联系电话</div>
            <div class="form-textarea">
                <textarea name="" rows="" cols="">广西省南宁市庆民区汤汤路238号绿叶商城</textarea>
            </div>
        </div>
        <div class="form-group2">
            <div class="form-label">联系电话</div>
            <div class="form-input">
                <input type="text" name="" id="" value="18900090380" />
            </div>
        </div>
        <div class="form-group2">
            <div class="form-label">提现银行卡账号</div>
            <div class="form-input">
                <input type="text" name="" id="" value="2345 3456 5678 745" />
            </div>
        </div>
        <div class="form-group2">
            <div class="form-label">紧急联系人姓名</div>
            <div class="form-input">
                <input type="text" name="" id="" value="雷滨约" />
            </div>
        </div>
        <div class="form-group2">
            <div class="form-label">紧急联系人电话</div>
            <div class="form-input">
                <input type="text" name="" id="" value="13747060976" />
            </div>
        </div>
    </div>
    <div class="form-btn">
        <a href="#">保存</a>
    </div>
    <script src="~/js/jquery-1.10.2.min.js"></script>
</body>
</html>
