@model SDMS.Web.Models.MyInfo.ListViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>我的</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
</head>
<body class="bgcolor">
    <a href="/myinfo/info/">
        <div class="user-header">
            <div class="user-header-b clear">
                <div class="user-headerimg">

                    <img src="@Model.Holder.HeadImgUrl" />
                </div>
                <div class="user-info">
                    <div class="user-name">@Model.Holder.Name</div>
                    <div class="user-tel">@Model.Holder.Mobile</div>
                </div>
            </div>
        </div>
    </a>    
    <div class="user-link">
        <ul>
            <li class="user-link-li">
                <a href="/myinfo/info/">
                    <i class="icon icon3"></i>
                    <span>个人资料</span>
                </a>
            </li>
            <li class="user-link-li">
                <a href="/home/setpwd">
                    <i class="icon icon2"></i>
                    <span>密码管理</span>
                </a>
            </li>
        </ul>
        <ul>
            <li class="user-link-li">
                <a id="unbind" href="javascript:;">
                    <i class="icon icon4"></i>
                    <span>解除微信绑定</span>
                </a>
            </li>
        </ul>
        <ul>
            <li class="user-link-li">
                <a href="tel:@(Model.Tel)">
                    <i class="icon icon1"></i>
                    <span>联系客服</span>
                </a>
            </li>
        </ul>
        <a href="/system/logout" class="user-exit">退出登录</a>
    </div>
    <div class="footer">
        <ul>
            <li>
                <div><a href="/home/index"><img src="/images/menu-home.png" alt="" /></a></div>

                <p>首页</p>
                <span></span>
            </li>
            <li>
                <div><a href="/home/share"><img src="/images/menu-bonus.png" alt="" /></a></div>
                <p>分红</p>
                <span></span>
            </li>
            <li>
                <div><a href="/takecash/list"><img src="/images/menu-withdrawals.png" alt="" /></a></div>
                <p>提现</p>
                <span></span>
            </li>
            <li>
                <div><a href="/myinfo/list"><img src="~/images/menu-user-a.png" alt="" /></a></div>
                <p>我的</p>
                <span></span>
            </li>
        </ul>
    </div>
    <script src="~/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#unbind").click(function () {
                var msg = "您确定要解除绑定吗？";
                if (confirm(msg) == true) {
                    $.ajax({
                        url: "/myinfo/unbind", type: "post", data: {},
                        success: function (result) {
                            if (result.status == "1") {
                                alert("解除绑定成功");
                            }
                            else if (result.status == "0") {
                                alert(result.msg);
                            }
                            else {
                                alert("未知错误");
                            }
                        },
                        error: function () { alert("网络错误"); }
                    });
                } else {
                    return false;
                }
            });
        });
    </script>
</body>
</html>
