<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>我的</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
</head>
<body class="bgcolor">
    <div class="user-header">
        <div class="user-header-b clear">
            <div class="user-headerimg">
                <img src="~/pic/01.jpg" />
            </div>
            <div class="user-info">
                <div class="user-name">唐迪迪</div>
                <div class="user-tel">15388888888</div>
            </div>
        </div>
    </div>
    <div class="user-link">
        <ul>
            <li class="user-link-li">
                <a href="#">
                    <i class="icon icon1"></i>
                    <span>个人资料</span>
                </a>
            </li>
            <li class="user-link-li">
                <a href="">
                    <i class="icon icon2"></i>
                    <span>密码管理</span>
                </a>
            </li>
            <li class="user-link-li">
                <a href="">
                    <i class="icon icon3"></i>
                    <span>信息反馈</span>
                </a>
            </li>
        </ul>
        <ul>
            <li class="user-link-li">
                <a href="">
                    <i class="icon icon4"></i>
                    <span>微信绑定</span>
                </a>
            </li>
        </ul>
        <a href="" class="user-exit">退出登录</a>
    </div>
</body>
</html>
