<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
    <link href="~/css/indexcss.css" rel="stylesheet" />
    <link href="~/css/admin/Base.css" rel="stylesheet" />
    <link href="~/css/admin/themes/icon.css" rel="stylesheet" />
    <link href="~/css/admin/themes/default/easyui.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/pagination.css" />    
    <style type="text/css">
        #page li {
            cursor: pointer;
        }

        .pagination > li {
            display: inline;
            position: relative;
            float: left;
            padding: 6px 12px;
            margin-left: -1px;
            line-height: 1.42857143;
            color: #337ab7;
            text-decoration: none;
            background-color: #fff;
            border: 1px solid #ddd;
        }

        .curPager {
            color: brown;
        }
    </style>
</head>
<body>
    @RenderBody()
    <script src="~/js/admin/Common.js"></script>
    <script src="~/js/admin/main-layout.js"></script>
    <script src="~/js/admin/My97DatePicker/WdatePicker.js"></script>
    @*<script src="~/js/admin/jquery.parser.js"></script>*@
    @*<script src="~/js/template.js"></script>*@
    <script src="~/js/admin/jquery.js"></script>
    <script type="text/javascript" src="~/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/js/pagination.min.js"></script>
    <script src="~/js/PageComm.js"></script>
    <script src="~/js/echarts.min.js"></script>
    @RenderSection("FooterScript", false)
</body>
</html>