@model SDMS.Web.Areas.Admin.Models.News.ReadListViewModel
<div class="dataTable">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="t1">
        <thead>
            <tr>
                <th>公告标题</th>
                <th>股东名</th>
                <th>阅读时间</th>
            </tr>
        </thead>
        <tbody id="pagerList">
            @foreach (var read in Model.ReadNumbers)
            {
            <tr>
                <td align="center">@read.NewsTitle</td>
                <td align="center">@read.HolderName</td>
                <td align="center">@read.CreateTime</td>
            </tr>
            }
        </tbody>
    </table>
</div>
<div class="nextpage">
    @Html.Raw(Model.Page)
</div>

